body{
    font-family: "poppins";
}

.texto-header{
    color: white;
    padding-left: 20px;
    font-size: 14px;
}

.header{
    background: linear-gradient(rgb(131, 27, 122), rgb(160, 14, 87) );
}

.logo{
    padding-top: 20px;
    width:"180";
    height:"70";
}

.pregunta1{
    display: flex;
    color: white;
    font-size: 66px;
    font-weight: 400;
    padding-left: 20px;
    
}

.medico{
    color: rgb(237, 210, 43);
}