body{
    font-family: "poppins";
    margin: 0px;
}

.texto-header{
    color: white;
    padding-left: 70px;
    font-size: 13.5px;
    margin-top: -60px;
    text-align: justify;
}

.header{
    background: linear-gradient(rgb(131, 27, 122), rgb(160, 14, 87) );
}

.logo{
    padding-top: 20px;
    width:"180";
    height:"70";
    margin-bottom: -20px;
    margin: 0px;
    padding-top: 40px;
}

.pregunta1{
    display: flex;
    color: white;
    font-size: 66px;
    font-weight: 400;
    padding-left: 70px;
    text-align: justify;
}

.medico{
    color: rgb(237, 210, 43);
}

.container1{
    max-width: 500px;
}

.boton{
    color: rgb(169, 17, 100);
    background-color: rgb(237, 210, 40);
    border-color: rgb(237, 210, 40);
    border-radius: 50px;
    padding: 18px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 19px;
    text-decoration: none;
    outline: none;
    border: none;
}

.boton:hover{
    background-color: rgb(27, 36, 35);
    border-color: rgb(27, 36, 35);
    color: white;
}

.container2{
    background-color: rgb(229, 243, 243);
    font-size: 16px;
    font-weight: 400;
}

.parrafo_c strong{
    font-size: 32px;
}

.parrafo_c{
    margin: 0px;
    padding: 180px;
    text-align: center;
    font-size: 22px;
}

.container3{
    background: linear-gradient(rgb(131, 27, 122), rgb(160, 14, 87) );
}